h1{
    background-color: black;
    color: green;
    padding: 10px 0 10px 15px;
    border-radius: 10px;
}
table{
    padding-left: 600px;
}
div{
    padding-left: 600px;
}


.pantalla{
    background-color: black;
    color: green;
    height: 40px;
    width: 185px;
    font-size: 1.1em;
    text-align: right;
    
}
.botonNum{
    width: 60px;
}
.tamBoton{
    width: 95%;
}
footer{
    background-color: black;
    color: green;
    padding: 2px 0 2px 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2em;

}

